<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>

    <link rel="stylesheet" href="../css/carousel.css"> 

</head>
<body>
    <div class="carousel">
        <button class="carousel-button prev" id="prevBtn">&#10094;</button>
        <div class="carousel-images">
        </div>
        <button class="carousel-button next" id="nextBtn">&#10095;</button>
    </div>
    
    <!-- <img src="../img//carousel images/image1.webp" class="carousel-item" alt="Image 1">
    <img src="../img//carousel images/image2.webp" class="carousel-item" alt="Image 2">
    <img src="../img//carousel images/image3.webp" class="carousel-item" alt="Image 3">
    <img src="../img//carousel images/image4.webp" class="carousel-item" alt="Image 3">
    <img src="../img//carousel images/image5.webp" class="carousel-item" alt="Image 3"> -->
      <script src="../js/Carousel.js"></script>
</body>
</html>