<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/demo.css" />
</head>
<body>
    
    <div class="after-login-account text-tanishq-color container d-flex flex-column justify-content-center align-items-center border border-primary">
        <div class="row border w-100">
            <div class=" d-flex justify-content-center  p-2 align-items-center">
                <img class="user-image tanishq-official-background-color rounded-circle p-3" src="../img/tanishq_logo._full_screen.svg" style="width: 75px; height: 75px;">
            </div>
            <div class="text-center h4">username</div>
        </div>
        <div class="row mt-3 h6">
            <p id="delete-account">Delete Your Account</p>
            <p>Log Out</p>
        </div>
    </div>
    
    <script src="../../reusableComponent/ContryCode.js"></script>
    <script src="../js/demo.js"></script>
</body>
</html>