<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/signin.css" />
    <link rel="stylesheet" href="../css/getproduct.css"/>
  </head>
  <body>
    <div class="main">
      <div class="inner-main">
        <div class="inner-main-1">
          <h1>Tanishq</h1>
          <form id="productForm" action="">
            <label for="title">Title:
              <input type="text" id="title" placeholder="Title..." />
            </label>
            <label for="description"
              >description
              <textarea id="description" name="description" placeholder="Write something.."
                style="height: 100px"
              ></textarea>
            </label>
            <label for="text">Price
              <br />
              <input type="text" name="text" id="price" placeholder="Price" />
            </label>

            <label for="jewellery">Choose a Item:
              <select name="jewellery" id="jewellery">
              </select>
            </label>

            <input type="file" id="myFile" name="filename" required />
            <button type="submit">Upload</button>
          </form>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="all-product-container" id="all-product-container">
  <div class="all-product-card" id="product-card">
          <div class="all-product-card-img">
              <img class="">
              <i class="fa-regular fa-heart"></i>
          </div>
          <div class="all-product-card-content">
              <div class="all-product-card-content-div">
                  <p class="product-stoke-message" >only 1 left in stoke</p>
                  <h3 class="product-heading" id="productTitle"> Product Name</h2>
                  <p class="product-price" id="productPrice">₹</p>
              </div>
          </div>
      </div>
  </div>
</div>

    <script src="../../reusableComponent/arrays/Categories.js"></script>
    <script src="../js/addProduct.js"> </script>
      
      

     

  </body>
</html>
