<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/signin.css" />
  </head>
  <body>
    <div class="main">
      <div class="inner-main">
        <div class="inner-main-1">
          <h1>Tanishq</h1>
          <form action="">
            <label for="Title"
              >Title:
              <input type="text" id="title" placeholder="Title..." />
            </label>
            <label for="description"
              >description
              <textarea
                id="description"
                name="description"
                placeholder="Write something.."
                style="height: 100px"
              ></textarea>
            </label>
            <label for="text"
              >Price
              <br />
              <input type="text" name="text" id="" placeholder="Price" />
            </label>

            <label for=""
              >Choose a Item:
              <select name="jewellery" id="jewellery">
                <option value="...">...</option>
              </select>
            </label>

            <input type="file" id="myFile" name="filename" required />
            <button>Upload</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
