<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/signin.css" />
  </head>
  <body>
    <div class="main">
      <div class="inner-main">
        <div class="inner-main-1">
          <h1>Tanishq</h1>
          <form id="productForm" action="">
            <label for="title">Title:
              <input type="text" id="title" placeholder="Title..." />
            </label>
            <label for="description"
              >description
              <textarea id="description" name="description" placeholder="Write something.."
                style="height: 100px"
              ></textarea>
            </label>
            <label for="text">Price
              <br />
              <input type="text" name="text" id="price" placeholder="Price" />
            </label>

            <label for="jewellery">Choose a Item:
              <select name="jewellery" id="jewellery">
              </select>
            </label>

            <input type="file" id="myFile" name="filename" required />
            <button>Upload</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../../reusableComponent/arrays/Categories.js"></script>
    <script src="../js/productAdd.js"> </script>
      
      // const jewellerySelect = document.getElementById("jewellery");
      
      // categoryList.forEach(category => {
      //   const option = document.createElement('option');
      //   option.value = category;
      //   option.textContent = category;
      //   jewellerySelect.appendChild(option);
      // });

      // console.log

    

  </body>
</html>
