<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/getproduct.css">
</head>
<body>
    
    <button id="getProduct">
        Get Product
    </button>
    <div id="products-container"></div>

    <div class="all-product-container" id="all-product-container">
        <div class="all-product-card" id="product-card">
                <div class="all-product-card-img">
                    <img class="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="all-product-card-content">
                    <div class="all-product-card-content-div">
                        <p class="product-stoke-message">only 1 left in stoke</p>
                        <h3 class="product-heading"> Product Name</h2>
                        <p class="product-price">₹</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        console.log(localStorage.getItem("data"));
    </script>
    <!-- <script src="../js/GetProduct.js"></script> -->
</body>
</html>