<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
   

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/carousel.css"/>
    <link rel="stylesheet" href="./daily-wear.html" />
  </head>
  <body>
    <div class="logic">

      <section class="w-100 px-2 navigation tanishq-official-background-color">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-2 col-4 d-flex pe-4 justify-content-start justify-content-lg-end  align-items-center symbol">
                    <span class="menu-icon text-tanishq-color fs-1">&#9776;</span>
                    <img src="../img/tanishq_logo_full_screen.svg" style="width: 75px;height: 75px;">
                </div>
                <div class=" col-lg-5 col-xl-6 col-12 py-lg-1 rounded-2 bg-white searchbar-col px-3">
                    <div class="row bg-white rounded-2">
                        <div class="col-lg-8 col-md-9 col-9  d-flex align-items-center">
                            <i class="fa-solid searchbar-search fa-magnifying-glass  mx-1 fs-4 text-tanishq-color"></i>
                            <input type="text" class="form-control border-0 searchbar" placeholder="Search...">
                        </div>
                        <div class="col-lg-4 col-md-3 col-3  d-flex ps-5 pe-0 align-items-center justify-content-center">
                            <i class="fa-solid navigation-icons px-2 fs-4 fa-camera text-tanishq-color"></i>
                            <i class="fa-solid navigation-icons px-2 fs-4 fa-microphone text-tanishq-color"></i>
                            <i class="fa-solid navigation-icons px-2 fs-4 fa-magnifying-glass text-tanishq-color"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-5 text-tanishq-color pe-5 ps-2 position-relative  nav-option d-flex justify-content-lg-start justify-content-end align-items-center">
                    <div class="nav-option-div">
                        <img src="../img/dailywear.svg" style="width: 50%; height: 30%;">
                        <p class="nav-option-name m-0">DAILYWEARS</p>
                    </div>
                    <div class="nav-option-div">
                        <i class="fa-solid nav-icon fa-shop"></i>
                        <p class="nav-option-name m-0">STORE</p>
                    </div>
                    <div class="nav-option-div nav-account-option-div fa-user-div">
                        <i class="fa-regular nav-icon fa-user"></i>
                        <p class="nav-option-name m-0">ACCOUNT</p>
                        <div class="nav-account-option rounded-2 border container-fluid text-center p-3 bg-white text-tanishq-color">
                            <div>
                             <h1 class=" mb-3" >My Account</h1>
                             <p class="fs-6">LOGIN TO ACCESS YOUR ACCOUNT</p>
                             <div class="d-flex justify-content-evenly my-2 align-items-center">
                                 <button class="btn border py-1 px-3">Log In</button>
                                 <button class="btn border py-1 px-3 text-white background-tanishq-color">Sign Up</button>
                             </div>
                             <p class="fs-6">CLICK HERE TO CONTACT US</p>
                            </div> 
                         </div>
                    </div>
                    <div class="nav-option-div">
                      <i class="fa-solid nav-icon fa-heart-pulse"></i>
                        <p class="nav-option-name m-0">WISHLIST</p>
                    </div>
                    <div class="nav-option-div position-relative">
                        <span class="cart-span position-absolute background-tanishq-color">0</span>
                        <i class="fa-solid nav-icon fa-cart-shopping "></i>
                        <p class="nav-option-name m-0">CART</p>
                    </div>
                </div>
            </div>
        </div>

      </section>

      <section>
        <div class="category-type-container-nav bg-white w-100">
          <div class="container bg-transparent mx-2">
              <ul class="d-flex p-0 category-type-nav m-0" id="category-type">
  
              </ul>
          </div>
      </div>

      </section>

      <section>
        <div class="circle">
          <div class="cle-img" id="cle-img">

          </div>
        </div>
      </section>

      <section>
        <div class="mycarousel">
          <button class="mycarousel-button myprev" id="imgPrevBtn">&#10094;</button>
          <div class="mycarousel-images">
          </div>
          <button class="mycarousel-button mynext" id="imgNextBtn">&#10095;</button>
      </div>
      <div class="mycarousel-dots" id="imageCarouselDots"></div>
      </section>

      <section>
        <div class="new-arrival">
          <div class="name-arr">
            <h2>
              <span>For the Dad Who Deserves the Finest</span>
            </h2>
            <p>This Father's Day, choose Tanishq</p>
            <img
              class="w-100"
              src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
              alt="divider-image"
            />
          </div>
        </div>
      </section>

      <section>
        <div class="w-100 d-flex justify-content-center">
          <div class="carousel-product-card-container px-3 " id="carousel-product-card-container">
              <button class="carousel-product-prev-btn" id="gold-carousel-product-prevBtn">&#10094;</button>
              <div class="carousel-product-inner-card-container" id="carousel-product-inner-card-container">
                <div class="carousel-product-card-wrapper" id="gold-carousel-product-cardWrapper">
                      <!-- <div class="card-div">
                          <div class="img-div">
                              <i class="fa-regular fa-heart"></i>
                              <img class="img">
                          </div>
                          <div class="content">
                              <p style="color: red;">only 1 is left</p>
                              <h5>productname</h2>
                                  <h2>Price</h2>  
                              </div>
                          </div>   -->
                </div>
              </div>
              <button class="carousel-product-next-btn" id="gold-carousel-product-nextBtn">&#10095;</button>
              </div>
          </div>
        <div class="carousel-product-card-container-dot " id="gold-carousel-product-carouselDots"></div>
      </section>

      <section>
        <div class="main-shop">
          <div class="wrt-sec">
            <span>Shop By Category</span>
            <p>Browse through your favorite categories. We've got them all!</p>
            <img
              class="w-100"
              src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
              alt="divider-image"
            />
          </div>
          <!-- --start-- -->
          <div class="container-fluid category-type-container d-flex flex-column  align-items-center w-100">
            <div class="row mb-2 flex-nowrap category-type-Card-wrapper g-lg-2 g-4" id="category-type-Card-wrapper1"></div>
            <div class="row category-type-Card-wrapper flex-nowrap g-4 g-lg-2" id="category-type-Card-wrapper2"></div>
            <div class="dot-container">
                <div class="d-flex justify-content-center mt-3" id="navigation-dots">
                    
                </div>
            </div>
        </div>
          </div>
          <!-- <div class="category-type-Card col-4 col-lg-2">
              <div class="w-100 rounded-1 border border-2">
                  <div class="w-100 mb-1 rounded-1">
                      <img class="w-100 rounded-1 " src="../../../../BackEnd/public/images/1719405691273-shree yantra.webp">
                  </div>
                  <div class="p-3 category-type-Card-heading">
                      <h6 class="h6 px-1 text-center text-tanishq-color">Manglsutras</h6>
                      <div class="px-1 mb-2 category-type-Card-explore">
                          <p class="m-0 text-center ">Explore</p>
                          <p class="m-0 text-center ">&#10095;</p>
                      </div>
                  </div>
              </div>
          </div> -->
      </section>

      <section>
        <div class="main-shop-coll">
          <div class="wrt-shop">
            <span>Shop By Collections</span>
            <p>
              Whatever the occasion, we've got a beautiful piece of jewellery
              for you.
            </p>
          </div>
          <img
            class="w-100"
            src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
            alt="divider-image"
          />

          <div class="wrt-shop-1">
            <div class="wrt-img">
              <div class="wrt-img-1">
                <img
                  class="gender-image"
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw3db19e7a/homepage/ShopByCollection/string-it.jpg"
                  alt="String It"
                  loading="lazy"
                />
              </div>
              <div class="wrt-para">
                <h5>String It</h5>
                <p>Explore More &gt;</p>
              </div>
            </div>

            <div class="wrt-img">
              <div class="wrt-img-1">
                <img
                  class="gender-image"
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwa0a42997/homepage/ShopByCollection/italian-connection.jpg"
                  alt="The Italian Connection"
                  loading="lazy"
                />
              </div>
              <div class="wrt-para">
                <h5>The Italian Connection</h5>
                <p>Explore More &gt;</p>
              </div>
            </div>

            <div class="wrt-img">
              <div class="wrt-img-1">
                <img
                  class="gender-image"
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwd303e668/homepage/ShopByCollection/engagement-rings.jpg"
                  alt="Engagement Rings"
                  loading="lazy"
                />
              </div>
              <div class="wrt-para">
                <h5>Engagement Rings</h5>
                <p>Explore More &gt;</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="new-arrival">
          <div class="name-arr">
            <h2>
              <span>Pick Up Where You Left Off!</span>
            </h2>
            <p>
              Our products tend to sell out quickly, so don't delay in
              completing your purchase.
            </p>
          </div>
          <img
            class="w-100"
            src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
            alt="divider-image"
          />
        </div>
      </section>

      <section>
        <div class="w-100 d-flex justify-content-center">
          <div class="carousel-product-card-container px-3 " id="carousel-product-card-container">
            <button class="carousel-product-prev-btn" id="diamond-carousel-product-prevBtn">&#10094;</button>
            <div class="carousel-product-inner-card-container" id="diamond-carousel-product-inner-card-container">
              <div class="carousel-product-card-wrapper" id="diamond-carousel-product-cardWrapper">
                  <!-- <div class="card-div">
                      <div class="img-div">
                          <i class="fa-regular fa-heart"></i>
                          <img class="img">
                      </div>
                      <div class="content">
                          <p style="color: red;">only 1 is left</p>
                          <h5>productname</h2>
                              <h2>Price</h2>  
                          </div>
                      </div>   -->
                </div>
                <button class="carousel-product-next-btn" id="diamond-carousel-product-nextBtn">&#10095;</button>
            </div>
          </div>
        </div>
        <div class="carousel-product-card-container-dot " id="diamond-carousel-product-carouselDots"></div>
      </section>

     
      <section>
        <div class="img-fsize">
          <img src="../img/images/gift-adv.webp" alt="" />
        </div>
      </section>

      <section>
        <div class="main-sell-sec">
          <div class="name-arr">
            <span>Top Sellers</span>
            <p>Love the most to bought the most</p>
          </div>
          <img
            class="w-100"
            src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw3fc25c81/images/home/Line-Design.svg"
            alt="divider-image"
          />

          <div class="main-sec-img-position-seller">
            <div class="sec-img-position-seller">
              <div class="img-sec-seller">
                <div class="img-http-seller">
                  <img
                    class="tile-image w-100 aspect-ratio-img"
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/images/hi-res/600102ZNARAP00_1.jpg"
                    alt="1 gram 22 Karat Gold Coin"
                    title="1 gram 22 Karat Gold Coin"
                  />
                </div>
                <div class="pos-i-seller">
                  <i class="fa-regular fa-heart fa-xl"></i>
                </div>
                <div class="img-pos-seller">
                  <h1>1 gram 24 Karat Gold Coin with Lakshmi Motif</h1>
                  <p>₹25999</p>
                </div>
              </div>

              <div class="img-sec-seller">
                <div class="img-http-seller">
                  <img
                    class="tile-image w-100 aspect-ratio-img"
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/images/hi-res/600102ZNARAS00_1.jpg"
                    alt="1 gram 24 Karat Gold Coin"
                    title="1 gram 24 Karat Gold Coin"
                  />
                </div>
                <div class="pos-i-seller">
                  <i class="fa-regular fa-heart fa-xl"></i>
                </div>
                <div class="img-pos-seller">
                  <h1>1 gram 24 Karat Gold Coin</h1>
                  <p>₹20599</p>
                </div>
              </div>

              <div class="img-sec-seller">
                <div class="img-http-seller">
                  <img
                    class="tile-image w-100 aspect-ratio-img"
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/images/hi-res/504025CZIAA00_1.jpg"
                    alt="Hypnotic Rose Gold Chain"
                    title="Hypnotic Rose Gold Chain"
                  />
                </div>
                <div class="pos-i-seller">
                  <i class="fa-regular fa-heart fa-xl"></i>
                </div>
                <div class="img-pos-seller">
                  <h1>Hypnotic Rose Gold ChainPretty Heart Necklace</h1>
                  <p>₹45999</p>
                </div>
              </div>

              <div class="img-sec-seller">
                <div class="img-http-seller">
                  <img
                    class="tile-image w-100 aspect-ratio-img"
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/images/hi-res/511095SBAAGA12_1.jpg"
                    alt="Tantalizing 22 Karat Yellow Gold Floral Stud Earrings"
                    title="Tantalizing 22 Karat Yellow Gold Floral Stud Earrings"
                  />
                </div>
                <div class="pos-i-seller">
                  <i class="fa-regular fa-heart fa-xl"></i>
                </div>
                <div class="img-pos-seller">
                  <h1>Tantalizing 22 Karat Yellow Gold Floral Stud Earrings</h1>
                  <p>₹42209</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="new-sec">
          <div class="new-para">
            <span>New For You</span>
            <p>Our Latest Releases Just For You</p>
            <img
              class="w-100"
              src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
              alt="divider-image"
            />
          </div>

          <div class="img-new">
            <div class="slide-img">
              <div class="slide-img-1">
                <img
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwb292158a/homepage/NewForYou/pretty-in-pink-new.jpg"
                />
                <div class="slide-btn">
                  <button>Explore More</button>
                </div>
              </div>
              <div class="slide-img-1">
                <img
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw901d27ee/homepage/NewForYou/trending-earrings.jpg"
                />
                <div class="slide-btn">
                  <button>Explore More</button>
                </div>
              </div>

              <div class="slide-img-1">
                <img
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw35ac2bd0/homepage/NewForYou/modern-designs.jpg"
                />
                <div class="slide-btn">
                  <button>Explore More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="gen-para">
          <span>Shop By Gender</span>

          <p>First-class jewelry for first-class Men, Women & Children.</p>
        </div>
        <img
          class="w-100"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
          alt="divider-image"
        />
      </section>

      <section class="local-grn-shp">
        <div class="main-grn-shop">
          <div class="gen-img">
            <div class="generated">
              <div class="gen-img-1">
                <div class="wrt-gen">
                  <img
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwef4310c0/homepage/ShopByGender/Men.jpg"
                    alt="Men"
                    loading="lazy"
                  />
                </div>
                <div class="gen-para-1">
                  <h5>Men</h5>
                  <p>Explore More &gt;</p>
                </div>
              </div>
            </div>
            <div class="generated">
              <div class="gen-img-1">
                <div class="wrt-gen">
                  <img
                    src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw24db1907/homepage/ShopByGender/kid.jpg"
                    alt="Kids"
                    loading="lazy"
                  />
                </div>
                <div class="gen-para-1">
                  <h5>Kid</h5>
                  <p>Explore More &gt;</p>
                </div>
              </div>
            </div>
          </div>
          <div class="generated">
            <div id="gender-image">
              <div class="wrt-gen-1">
                <img
                  src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwc0abe627/homepage/ShopByGender/Woman.jpg"
                  alt="Women"
                  loading="lazy"
                />
              </div>
              <div class="gen-para-1">
                <h5>Women</h5>
                <p>Explore More &gt;</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="look-para">
          <h1>Shop The Look</h1>
          <p>Discover your timeless style and reveal your unique look!</p>
        </div>
        <img
          class="w-100"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
          alt="divider-image"
        />
      </section>

      <section>
        <div class="main-look">
          <div class="half-1">
            <img
              class="d-lg-none"
              src="https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-site-catalog/default/dw36954179/ShopByLookImages/Desktop/LargeImages/workwear.jpg"
              alt="Workwear"
            />
          </div>
          <div class="half-2">
            <div class="inner-half">
              <div class="half-img">
                <img
                  class="aspect-ratio-img aspect-ratio tile-image hover-image"
                  src="https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw92458afd/images/hi-res/50D3C1SLZABA02_1.jpg"
                />
                <span> Only 1 left in stock</span>
                <h5>Captivating Contemporary Diamond Stud Earrings</h5>
                <p>₹ 125219</p>
              </div>
            </div>
            <div class="inner-half">
              <div class="half-img">
                <img
                  class="aspect-ratio-img aspect-ratio tile-image hover-image"
                  src="https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwe9c982cf/images/hi-res/50D3B2NTBAA02_1.jpg"
                  data-alt-src="https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwf0367766/images/hi-res/50D3B2NTBAA02_2.jpg"
                  alt="Shimmering Simplicity Diamond Necklace"
                  title="Shimmering Simplicity Diamond Necklace"
                  onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                  loading="lazy"
                />
                <span> Only 1 left in stock</span>
                <h5>Shimmering Simplicity Diamond Necklace</h5>
                <p>₹365989</p>
              </div>
              <div class="inner-btn">
                <button>&#8594;</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="blur-sec-main">
        <div class="blur-sec">
          <div class="blur-sec-1">
            <div>
              <div class="blur-img">
                <img src="../img/images/super-women.jpeg" alt="" />
              </div>
              <div class="cam-img">
                <img
                  class="look-syte-banner mobile-look-syte-banner"
                  src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwbac94b1f/images/shopbylook/look_syte.png"
                  alt="SyteLook Banner"
                />
              </div>
            </div>
            <div class="blur-para">
              <p>
                Look no further! Upload the screenshots from your favorite
                wedding celebrity looks and find similar pieces using image
                search!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <img
          class="separator-line"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
          alt="separator"
        />
        <div class="main-glow">
          <div class="img-glow">
            <img src="../img/images/a2z.jpg" alt="" />
          </div>
          <div class="glow-btn">
            <button>Explore Now</button>
          </div>
        </div>
      </section>

      <section>
        <div class="video-sec">
          <video
            id="video-player"
            class="playerMB d-lg-none d-block lazy-video"
            controlslist="nodownload"
            preload="metadata"
            loop=""
            autoplay=""
            muted=""
            playsinline=""
            src="https://staticimg.tanishq.co.in/videos/ge-mb.mp4"
          >
            <source
              data-src="https://staticimg.tanishq.co.in/videos/ge-mb.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </section>

      <section class="rivhha-section">
        <div class="rivaah-sec">
          <div class="rivaah-1">
            <img
              class="image-left"
              alt="Rivaah Bride"
              src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw93b25375/homepage/posters/Rivaah-Bride.jpg"
              loading="lazy"
            />
          </div>
          <div class="rivaah-2">
            <div class="rivhha-2-img">
              <img src="../img/images/real-2.jpg" alt="" />
            </div>
            <div class="rivhha-btn">
              <button>Arrange Callback</button>
              <button>Explore Now</button>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="main-guide">
          <span>Jewellery Guides</span>
          <p>
            Check out our ready made guides to make your buying process easier.
          </p>
        </div>
        <img
          class="w-100"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
          alt="divider-image"
        />
      </section>

      <section>
        <div class="main-ring">
          <div class="inner-ring">
            <div class="ring-1">
              <div class="ring-para">
                <span>Find Your Ring Size</span>
                <button>
                  Explore Blog
                  <i
                    class="fa fa-long-arrow-right arrow1"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
              <div class="ring-img">
                <img src="../img/images/bangle.jpeg" alt="" />
              </div>
            </div>
            <div class="ring-1">
              <div class="ring-para">
                <span> The Jewellery Care Guide</span>

                <button>
                  Explore Blog
                  <i
                    class="fa fa-long-arrow-right arrow1"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
              <div class="ring-img">
                <img src="../img/images/trd.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="rcd-main">
        <div class="rcd-para">
          <span>Recommended for you</span>
          <p>Discover products tailored to your preferences and interests.</p>
        </div>
        <img
          class="w-100"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dwd9a3b5d2/Line-Design.svg"
          alt="divider-image"
        />
      </div>
      <section>
        <div class="rjd-main-sec">
          <div class="rjd-sec">
            <div class="rjd-img">
              <img
                class="tile-image w-100 aspect-ratio-img aspect-ratio"
                src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwae479d91/images/hi-res/51F2BDBKBAA00_1.jpg?sw=360&amp;sh=360"
                alt="Sleek Om Bracelet"
                title="Sleek Om Bracelet,"
                onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                loading="lazy"
              />
              <span>Only 1 Left in Stock</span>
              <h5>Sleek Om Bracelet</h5>
              <p>₹ 56013</p>
            </div>
            <div class="rjd-img">
              <img
                class="tile-image w-100 aspect-ratio-img aspect-ratio"
                src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw607a6060/images/hi-res/51D4MPNDSAA00_1.jpg?sw=360&amp;sh=360"
                alt="Brilliant Lariat Necklace"
                title="Brilliant Lariat Necklace,"
                onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                loading="lazy"
              />
              <span>Only 1 Left in Stock</span>
              <h5>Brilliant Lariat Necklace</h5>
              <p>₹ 53707</p>
            </div>

            <div class="rjd-img">
              <img src="../img/images/bshjsjnsj.jpg" />
              <h5>Radiant 18 Karat Yellow Gold And Ruby Floral Studs</h5>
              <p>₹ 11168</p>
            </div>

            <div class="rjd-img">
              <img
                class="tile-image w-100 aspect-ratio-img aspect-ratio"
                src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw493c761c/images/hi-res/501720SAMADA32_1.jpg?sw=360&amp;sh=360"
                alt="Brilliant Flowerbud Pearls and Diamond Stud Earrings"
                title="Brilliant Flowerbud Pearls and Diamond Stud Earrings,"
                onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                loading="lazy"
              />
              <h5>Brilliant Flowerbud Pearls and Diamond Stud Earrings</h5>
              <p>₹ 11168</p>
            </div>
            <div class="rjd-img">
              <img
                class="tile-image w-100 aspect-ratio-img aspect-ratio"
                src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw853c6cc0/images/hi-res/502014SCIAGA32_1.jpg?sw=360&amp;sh=360"
                alt="Ornate Onyx Diamond Stud Earrings"
                title="Ornate Onyx Diamond Stud Earrings,"
                onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                loading="lazy"
              />
              <h5>Ornate Onyx Diamond Stud Earrings</h5>
              <p>₹ 11168</p>
            </div>

            <div class="rjd-img">
              <img
                class="tile-image w-100 aspect-ratio-img aspect-ratio"
                src="https://www.tanishq.co.in/dw/image/v2/BKCK_PRD/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw984ecb24/images/hi-res/51F2TRBEUAA00_1.jpg?sw=360&amp;sh=360"
                alt="Magnificent Tridev Rakhi Bracelet"
                title="Magnificent Tridev Rakhi Bracelet,"
                onerror="this.src='/on/demandware.static/-/Sites-Tanishq-site-catalog/default/v7e4151d8817101406b98615b73a8da6b6467c4c1/noimage/medium_missing.svg'"
                loading="lazy"
              />
              <h5>Magnificent Tridev Rakhi Bracelet</h5>
              <p>₹ 11168</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="last-sec">
          <h1>Connect With Us</h1>
          <p>We are always available to guide you at your convenience.</p>
        </div>
        <img
          class="w-100"
          src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw78fb320b/images/home/Line-Design.svg"
          alt="divider-image"
        />
      </section>
      <section class="last-chn">
        <div class="share-sec">
          <div class="sp-sec">
            <div class="share-text">
              <h1>Connect On WhatsApp</h1>
              <button>
                connect
                <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
              </button>
            </div>

            <div class="share-text-1">
              <h1>Book Appointment</h1>
              <button>
                Book
                <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
              </button>
            </div>

            <div class="share-text-2">
              <h1>Schedule a Video Call</h1>
              <button>
                Schedule
                <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="main-footer">
          <div class="lg-desk">
            <div class="min-desk">
              <div class="foot-1">
                <div class="plush">
                  <h1>Useful Links</h1>
                  <button onclick="arr_sec()" class="minus">+</button>
                </div>
                <ul id="click_1">
                  <li><a href="">Delivery information</a></li>
                  <li><a href="">international shipping</a></li>
                  <li><a href="">payment option</a></li>
                  <li><a href="">Track your order</a></li>
                  <li><a href="">Return</a></li>
                  <li><a href="">Find a store</a></li>
                </ul>
              </div>
              <div class="foot-2">
                <div class="plush">
                  <h1>information</h1>
                  <button onclick="arr_sec_2()" class="minus_2">+</button>
                </div>
                <ul id="click_2">
                  <li><a href="">Carrers</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Offer & Contect Details</a></li>
                  <li><a href="">Help & FAQs</a></li>
                  <li><a href="">About Tanishq</a></li>
                </ul>
              </div>
            </div>
            <div class="foot-3">
              <div class="plush">
                <h1>Contact us</h1>
                <button onclick="arr_sec_3()" class="minus_3">+</button>
              </div>
              <ul id="click_3">
                <li>
                  <a href=""
                    ><i class="fa-solid fa-envelope"></i> Write to us</a
                  >
                </li>
                <li>
                  <a href=""><i class="fa-solid fa-phone"></i> 1800 121 1500</a>
                </li>
                <li>
                  <a href=""
                    ><i class="fa-brands fa-rocketchat"></i> Chat with us</a
                  >
                </li>
              </ul>
            </div>
            <div class="main-footer-2">
              <p><strong>Download the Tanishq App Now</strong></p>
              <img
                style="width: 35%"
                class="img-fluid qr-app d-lg-block d-md-block d-none"
                src="https://www.tanishq.co.in/on/demandware.static/-/Library-Sites-TanishqSharedLibrary/default/dw13b9f54e/images/footer/tanishq-app-newqr.png"
                alt="appstore"
              />
              <div class="main-foot-img">
                <i class="fa-brands fa-google-play fa-2x"></i>
                <i class="fa-brands fa-app-store fa-2x"></i>
              </div>
              <p><strong>Follow Us on</strong></p>
              <div class="main-foot-img">
                <i class="fa-brands fa-facebook-f fa-x"></i>
                <i class="fa-brands fa-x-twitter fa-x"></i>
                <i class="fa-brands fa-instagram fa-x"></i>
              </div>
            </div>
          </div>
          <div class="inner-foot">
            <div class="main-footer-3">
              <div class="inner-foot-2">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-google-pay"></i>
                <i class="fa-brands fa-bimobject"></i>
                <i class="fa-brands fa-cc-apple-pay"></i>
              </div>
              <div class="inner-foot">
                <div class="foot-p">
                  <p>Terms & Conditions</p>
                  <p>Privacy Policy</p>
                  <p>Disclaimer</p>
                </div>
                <p>2024 Titan Company Limited. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      function toggleMenu() {
        var navLinks = document.getElementById("navLinks");
        if (navLinks.style.display === "flex") {
          navLinks.style.display = "none";
        } else {
          navLinks.style.display = "flex";
        }
      }

      function arr_sec() {
        var click_1 = document.getElementById("click_1");
        if (click_1.style.display === "flex") {
          click_1.style.display = "none";
          document.querySelector(".minus").innerHTML = "+";
        } else {
          click_1.style.display = "flex";
          document.querySelector(".minus").innerHTML = "-";
        }
      }
      function arr_sec_2() {
        var click_2 = document.getElementById("click_2");
        if (click_2.style.display === "flex") {
          click_2.style.display = "none";
          document.querySelector(".minus_2").innerHTML = "+";
        } else {
          click_2.style.display = "flex";
          document.querySelector(".minus_2").innerHTML = "-";
        }
      }

      function arr_sec_3() {
        var click_3 = document.getElementById("click_3");
        if (click_3.style.display === "flex") {
          click_3.style.display = "none";
          document.querySelector(".minus_3").innerHTML = "+";
        } else {
          click_3.style.display = "flex";
          document.querySelector(".minus_3").innerHTML = "-";
        }
      }
      document.addEventListener("DOMContentLoaded", function () {
        var accountBtn = document.getElementById("accountBtn");
        var mkHide = accountBtn.querySelector(".mk-hide");

        accountBtn.addEventListener("click", function (event) {
          event.preventDefault(); // Prevent the default action of the anchor tag
          if (mkHide.style.display === "none") {
            mkHide.style.display = "contents";
          } else {
            mkHide.style.display = "none";
          }
        });

        // Close the mk-hide div when clicking outside of it
        document.addEventListener("click", function (event) {
          if (!accountBtn.contains(event.target)) {
            mkHide.style.display = "none";
          }
        });
      });
    </script>
   <script src="../js/Home.js"></script>
   <script src="../js/Carousel.js"></script>
   <script src="../js/nav.js"></script>
   <script src="../js/ProductCarousel.js"></script>
   <!-- <script src="../js/DiamondCarousel.js"></script>
   <script src="../js/GoldCarousel.js"></script> -->
</body>
</html>
