<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="main">
<div class="inner-main">
    <div class="inner-main-1">
    <h1>Tanishq</h1>    
    
    <form id="loginForm">
        <label for="userName"> Username
            <br>
            <input type="text" name="first-name" id="userName" placeholder="Enter Thergtb 4tvr Username">
        </label>
        <label for="password">password
            <br>
            <input type="password" name="password" id="userPassword" placeholder="Enter The password">
        </label>
        <button type="submit">submit</button>
    </form>
    <p>Not registered?
        <a href="#"
           style="text-decoration: none;">
              Create an account
        </a>
  </p>
</div>

    <script src="../js/login.js">

    </script>
</body>
</html>