<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/demo.css" />
</head>
<body>
    <div class="container-fluid tanishq_login text-center position-relative ">
        <div class="row tanishq_login_row border">
            <div class="col-12 col-md-8 d-flex justify-content-center flex-column py-4 px-2">
                <h1 class="mb-4 text-tanishq-color"> Login</h1>
                <div>
                    <form action="/action_page.php" id="loginForm">
                        <div class="mb-3 mt-3">
                            <label for="loginUserName" class="form-label w-100 text-start ms-1">Email:</label>
                            <input type="text" class="form-control" id="loginUserName" placeholder="Enter your username" name="userName">
                        </div>
                        <div class="mb-3">
                            <label for="loginUserPassword" class="form-label w-100 text-start ms-1">Password:</label>
                            <input type="password" class="form-control" id="loginUserPassword" placeholder="Enter strong password" name="UserPassword">
                        </div>
                        <div class="form-check mb-3 d-flex justify-content-start">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
            <div class="d-none d-md-block">
                <img src="../img/tanishq_login.webp">
            </div>
        </div>
    </div>
    
    <script src="../../reusableComponent/ContryCode.js"></script>
    <script src="../js/login2.js"></script>
</body>
</html>
                <!-- <div class="login-carousel w-100">
                    <img src="../img/enjoy_rewards.webp " class="w-100" >
                </div>
                <div class="row mt-4 m-0 justify-content-between">
                    <select class="col-3 rounded-2 border py-2" id="ConstryCodeSelector"></select>
                    <input class=" col-8 rounded-2 border " placeholder="Enter Your Number" type="tel" id="login-mobile-number"/>
                </div>
                <div class="form-check d-flex mt-4">
                    <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label ms-2" for="flexCheckDefault">
                      Remember Me
                    </label>
                </div>
                <div class="mt-4">
                    <p class="h6">By continuing, I agree to <a class="text-tanishq-color">Terms of Use</a>  & <a class="text-tanishq-color">Privacy Policy</a></p>
                </div>
                <div class="mt-4">
                    <button class="btn text-white background-tanishq-color px-5 py-3">
                        Request OTP
                    </button>
                </div> -->