<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signin.css">
</head>
<body>
    <div class="main">
<div class="inner-main">
    <div class="inner-main-1">
    <h1>Tanishq</h1>    
    <form action="" id="registerForm">
        <label for="first-name"> Username
            <br>
            <input type="text" name="first-name" id="userName" placeholder="Enter The Username">
        </label>
        <label for="email"> Email
            <br>
            <input type="email" name="Email" id="userEmail" placeholder="Enter The email">
        </label>
        <label for="password">password
            <br>
            <input type="password" name="password" id="userPassword" placeholder="Enter The password">
        </label>
        <button type="submit">submit</button>
    </form>
    <p>Not registered?
        <a href="./login.html"
           style="text-decoration: none;">
            sign-in
        </a>
  </p>
</div>
</div>
    </div>

    <script src="../js/Registor.js"></script>
</body>
</html>