<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/viewProduct.css">

    <script src="../js/ViewProduct.js"></script>

</head>
<body>
    <div class="container-fluid p-0">
        <section class="row w-100 justify-content-center m-0">
            <div class="left-div col-12 col-sm-6 col-lg-6 col-xl-5 pt-3 ">
                <div class="d-flex">
                    <p> Home </p>
                    <div class="vLine"></div>
                    <p>Product</p>
                    <div class="vLine"></div>
                    <div id="breadcrumbProductName" class="text-brown" style="font-weight: 500;"> ProductName</div>
                </div>
                <div class="row mt-5 d-flex justify-content-center align-items-center">
                    <div class="sub-img-div col-3 py-2 overflow-hidden" id="sub-img-div">

                    </div>
                    <div class="col-9 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-arrow-left"></i>
                        <img class="product-img border" id="productMainImage" src="../../../../BackEnd/public/images/1719811925026-Dazzling Dahlia Ruby Pendant.webp">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-end">
                    <button class="border-0 text-brown bg-transparent"> Try It On</button>
                </div>
            </div>
            <div class="right-div col-12 col-sm-6 col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-9">
                        <p class="m-0" id="productId"> Product Id</p>
                        <h3 id="productName">Product Name</h3>
                        <div class="d-flex">
                            <p class="me-3 mb-0">star rating</p>
                            <p class="mb-0 text-brown">Reviews</p>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-start">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                </div>
                <hr class="w-100">
                <div class="w-100">
                    <p id="productDescription"> Product Description</p>
                    <p><span>See full</span> <span class="text-brown">Product Details</span></p>
                </div>
                <div class="d-flex align-items-center">
                    <p class="m-0 pe-2">Price: </p>
                    <h2 class="m-0" id="productPrice">&#8377 price</h2>
                </div>
                <div>
                    <p>Price Inclusive of all taxes. See full <span class="text-brown">Price Breakup</span> </p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5> Gross Weight</h2>
                        <select class="w-100 p-2 gross-weight" ></select>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-center">Qty</h5>
                        <div class="d-flex p-1 me-3 justify-content-center align-items-center">
                            <i id="minus" class="fa-solid fa-minus border"></i>
                            <h5 id="quntity" class="mx-4">1N</h5>
                            <i id="plus" class="fa-solid fa-plus border"></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h6>Gold Purity: 18Karat</h5>
                    </div>
                    <div class="col-md-6">
                        <h6>Diamond weight: 0.235 c</h5>
                    </div>
                </div>
                <div>
                    <p>Not sure what to buy? Check out our <span class="text-brown">Buying Guides</span></p>
                </div>
                <div class="row d-flex btn-container">
                    <button class="add-to-cart bg-transparent "> Add to Cart</button>
                    <button class="buy-now text-white "> Buy Now</button>
                </div>
                <div class="w-100 mt-3">
                    <div class="d-flex">
                        <i class="fa-regular fa-gem"></i>
                        <p>Purity Guaranteed</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        <p>Exchange across all stores.</p>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p>Free Shipping all across India</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- <script src="../js/ViewProduct.js"></script> -->
</body>
</html>