*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-tanishq-color{
    color:  rgb(132,44,48)
  }
  .background-tanishq-color{
    background-color: 
    rgb(132,44,48)
  }

  .tanishq-official-background-color{
    background-color: #f2e9e9;
  }

.navigation{
    position: sticky;
    top: 0;
}

.symbol, .nav-option {
    
    text-align: center;
}
.searchbar {
    width: 100%;
}
.menu-icon {
    display: none;
}
.fa-user-div{
    display: block;
}
.nav-option-name{
    font-size: 80%;
    display: block;
}

.nav-option-div{
    padding: 25px 0;
    height: 100%;
}
.nav-account-option{
    display: none;
    width: 70%;
    top: 100%;
    right: 0%;
    position: absolute;
}
.nav-account-option-div:hover .nav-account-option, .nav-account-option-div{
    display: block;
    cursor: pointer;
}
.nav-account-option-div::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 3px;
    background-color: #832729; 
    border-radius: 5px;
    transition: all 0.5s ease;
   }
  .nav-account-option-div:hover::before{
    width: 20%;
  }
@media (max-width: 992px) {
    .row:first-child .searchbar-col {
        order: 2;
    }
    .menu-icon {
        display: inline-block;
        margin-right: 10px;
    }
    .nav-option-name{
        display: none;
    }
}

@media (max-width: 667px) {
    .fa-user-div{
        display: none;
    }
}
