*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-tanishq-color{
    color:  rgb(132,44,48)
  }
  .background-tanishq-color{
    background-color: 
    rgb(132,44,48)
  }

  .tanishq-official-background-color{
    background-color: #f2e9e9;
  }

  .after-login-account{
    width: 250px;
    border-radius: 15px;
    padding: 35px 10px;
  }
