*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-product-container {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px; 
    justify-content: center; 
}

.all-product-card{
    width: 90%;
    border: 1px solid black;
}
.all-product-card-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
}
.all-product-card-img img{
    width: 200px;
    height: 100%;
}
.all-product-card-img i{
    position: absolute;
    font-size: 25px;
    color: #ff99ff;
    right: 5px;
    top: 5px;
}
.all-product-card-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-product-card-content-div{
    width: 80%;
    margin: 15px;
}
.product-stoke-message{
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}
.product-heading{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.product-price{
    font-size: 35px;
    font-weight: 100;
}
